{% block bank_card_widget %}
    {% spaceless %}
        {% if form.vars.value != null %}
            <div class="row bankCardRow col-xs-6">
                <div class="col-xs-6">
                    <span class="text-muted">{{ form.vars.value.cardName }}</span>
                    {{ form_widget(form.cardName) }}
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        {{ form_widget(form.amount, { 'attr': { 'class': 'nextOnEnter bank_card_amount form-control splitted_input', 'maxlength':"10"}}) }}
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="glyphicon glyphicon-euro"></i>
                        </span>
                    </div>
                    {{ form_errors(form.amount) }}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
