<a data-tooltip="Modifier" data-position="top"
   class="tooltipped glyphicon glyphicon-edit" id="edit_supplier_button_{{ id }}"></a>
<a data-tooltip="{{ 'btn.delete' | trans }}" data-position="top" id="delete_supplier_button_{{ id }}"
   class="tooltipped glyphicon glyphicon-remove"></a>
<a id="modal-{{ id }}" data-tooltip="Détails" data-position="top"
   class="tooltipped glyphicon glyphicon-info-sign detail-btn"></a>