<a data-tooltip="Modifier" data-position="top"
   class="tooltipped glyphicon glyphicon-edit" id="edit_new_button_{{ id }}"></a>
<a data-tooltip="{{ 'btn.delete' | trans }}" data-position="top" id="delete_new_button_{{ id }}"
   class="tooltipped glyphicon glyphicon-remove"></a>