<a href="{{ path('cashbox_count_detail_print', {'cashboxCount' : cashboxCount.id}) }}" class='btn btn-print btn-icon'>
    {{ 'shortcut.labels.print'|trans() }}</a>

<button type='button' class='btn btn-cancel' data-dismiss='modal' style="margin-right: 15px">
    {{ 'keyword.close'|trans() }}
</button>