<a data-tooltip="{{ 'btn.edit' | trans({}, "supervision") }}" data-position="top"
   class="tooltipped btn btn-modify btn-icon btn-xs glyphicon-edit" id="edit_new_button_{{ id }}"></a>
<a data-tooltip="{{ 'btn.delete' | trans({}, "supervision") }}" data-position="top" id="delete_new_button_{{ id }}"
   class="tooltipped btn btn-delete btn-icon btn-xs glyphicon-remove"></a>