/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/config/config_dev.yml.mine
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/check.php

/bin
/vendor
/node_modules
/composer.lock
/package-lock.json

.svn
.idea

/composer.phar

/socketClient
/data/export/*

/phpunit.phar
/pre_prod_new.php

/web/config.php

/docker/checkov_report/*
/docker/images/base/servers/fpm-nginx/*
/docker/images/final/root/parameters/bk/*
!/docker/images/final/root/parameters/bk/.gitkeep
/docker/images/final/root/parameters/quick/*
!/docker/images/final/root/parameters/quick/.gitkeep