<div class="row">
    <div class="col-xs-12" style="text-align: right">
        {% if (recipeLines|length) > 0 or (productSolds|length) > 0 %}
            <button id="validate-substitution" type="button" class="btn btn-validate btn-icon">
                {{ 'btn.validate' | trans({}, "supervision") }}
            </button>
        {% endif %}
        <button type="button" class="btn btn-cancel" data-dismiss="modal"
                style="margin-right: 10px;">{{ 'btn.cancel' | trans({}, "supervision") }}</button>
    </div>
</div>