<div style="">
    <a href="#" style="margin-right: 5px;" class="closeDefaultModal">
        {{ 'btn.cancel'|trans() }}
    </a>
    <button id="validateChestGap" class="waves-effect waves-light btn btn-validate white-text"
            style="float:initial;">
        {{ 'btn.validate' | trans }}
    </button>
</div>
