<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>

</header>

{% block body %}

{% endblock %}

{% block signature %}
    <br><br><br>
    <hr style="border-color:#c8c8c8">
    Nouveau backoffice Quick<br><br>
    <img width="70px" height="100px" class="logo" src="https://www.quick.be/images/logo.svg"><br>
    <span style="font-size: 11px;">
        Ce mail est envoyé par l'application Backoffice relative au restaurant {{ quick }}
    </span>
{% endblock %}

</body>
</html>