<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid" id="progress-bars-container" progress-id="{{ progressID }}" base-id="{{ baseID }}">
            <div class="row" id="coeff-product-progress-bar">
                <div class="col-xs-12 progress-container">
                    <div class="progress-hint">
                        {{ 'progress.calcul_coef'|trans() }} <span class="progress-hint-per"></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="45"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: 0%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>