.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 0px 0px !important;
}
.icon.icon-cash {
  background: url('../images/icons/Money-Bag.png');
}
.icon.icon-stock {
  background: url('../images/icons/stock.png');
}
.icon.icon-people {
  background: url('../images/icons/User-Group.png');
}
.icon.icon-supplying {
  background: url('../images/icons/icon-cart.png');
}
.icon.icon-workflow {
  background: url('../images/icons/flowchart_icon.png');
}
.icon.icon-config {
  background: url('../images/icons/gear.png');
}
.icon.icon-utilities {
  background: url('../images/icons/cube.png');
}
.icon.icon-reporting {
  background: url('../images/icons/reporting.png');
}
.icon.fa {
  font-size: 27px !important;
  margin: -7px 0 -6px 0 !important;
}
