{% extends '::base_mail.html.twig' %}

{% block body %}
    {{ "Hello"|trans({}, "messages", local) }}<br>
    <h3>{{ "transfer.title"|trans({}, "messages", local) }}</h3>

    {{ "message1_transfer_out"|trans({}, "messages", local) }}<br>
    {{ "message2_transfer"|trans({}, "messages", local) }}

{% endblock %}