/* Colors definitions */
.color-4 {
  background-color: #F18700 !important;
}
.text-color-4 {
  color: #F18700 !important;
}
.delivery-btn {
  margin-left: 2em;
}
.label-float {
  float: left;
}
.select-delivery {
  display: inherit;
  height: 2rem;
  width: 200px !important;
}
.delivery-val {
  color: #c8102e;
  font-weight: bold;
}
.fam-val {
  color: #ca9e67;
  font-weight: bold;
}
.float-left-label {
  float: left;
}
.input-delivery-width {
  width: 200px !important;
}
.add-loss-table select {
  display: inherit !important;
}
.color-4 {
  background-color: #F18700 !important;
}
.text-color-4 {
  color: #F18700 !important;
}
.pending-orders {
  color: blue;
}
.to-be-send-orders {
  color: red;
}
.status-badge {
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
  display: inline-block;
  border-radius: 5px;
}
.draft .status-badge {
  background-color: #00baff;
}
.sended .status-badge {
  background-color: #00bf18;
}
.sending .status-badge {
  background-color: orangered;
}
.rejected .status-badge {
  background-color: #fb001c;
}
.canceled .status-badge {
  background-color: gray;
}
.modified .status-badge {
  background-color: #006400;
}
.remove-line {
  color: red;
}
.add-line {
  color: green;
}
