<div class="col-md-6 mail-container">
    <div class="row">
        <input type="hidden" id="cashbox_parameter_additionalMailsContainer_mails___index___id"
               name="cashbox_parameter[additionalMailsContainer][mails][__index__][id]">
        <div class="col col-xs-10">
            <input type="text" id="cashbox_parameter_additionalMailsContainer_mails___index___mail"
                   name="cashbox_parameter[additionalMailsContainer][mails][__index__][mail]" required="required"
                   class="form-control">

        </div>
        <div class="col col-xs-2">
            <button type="button" style="line-height: 100%;" class="btnRemoveMailValue btn btn-delete btn-icon">
            </button>
        </div>
    </div>
</div>