<div class="row">
    <div class="col-xs-9">
        <input type="text"
               id="cashbox_parameter_checkRestaurantContainer_ticketRestaurantCounts_{{ i }}_value_values___index___unitValue"
               name="cashbox_parameter[checkRestaurantContainer][ticketRestaurantCounts][{{ i }}][value][values][__index__][unitValue]"
               required="required" class="parse-float form-control">
    </div>
    <div class="col-xs-3" style="text-align: right">
        <button type="button" style="line-height: 100%;" class="btnRemoveValue btn btn-delete btn-icon"></button>
    </div>
</div>




