<div style="">
    <a href="#" style="margin-right: 5px;" class="closeDefaultModal">
        {{ 'btn.cancel'|trans() }}
    </a>

    <span id="validateCashboxGap" class="waves-effect waves-light btn btn-validate white-text"
          style="float:initial;">
        {{ 'btn.validate' | trans }}
    </span>
</div>
