<div class="row pull-right" style="margin-bottom: 0px;">
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button class="btn btn-cancel btn-icon" type="button" data-dismiss="modal">
            <span>{{ 'btn.cancel' | trans }}</span></button>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button class="btn btn-validate btn-icon" type="button" id="save-parameters"
                data-restaurant="{{ restaurant.id }}">
            <span>{{ 'btn.validate' | trans }}</span></button>
    </div>
</div>