{% extends '@Administration/index_administration.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-xs-4">
                    <label for="{{ form.opened.vars.id }}">Tables : </label>
                    {{ form_widget(form.opened,{ 'attr' : { 'class' : 'form-control' } }) }}
                </div>
                <div class="col-xs-2">
                    <label></label>
                    <button class="btn btn-save btn-block btn-icon"> Enregistrer</button>

                </div>
            </div>


            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}