{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger form-error" role="alert">
                {% for error in errors %}
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    {{ error.message|trans({},'validation') }} <br>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
