<div class="row" style="margin-bottom: 0px;">
    <div class="col col-lg12 col-md12 col-sm-12 col-xs-12" style="text-align: right" data-user="{{ staff.id }}">
        <button type="button" class="btn waves-effect btn-validate text-black" id="btn-validate-{{ type }}">
            <span> {{ 'btn.validate'|trans() }} </span>
        </button>
        <button class="btn waves-effect btn-cancel text-black" style="margin-right: 10px;" id="btn-cancel">
            <span>{{ 'btn.cancel'|trans() }}</span>
        </button>
    </div>
</div>